{% extends "base_generic.html" %}

{% block content %}
<head>{% load static %}</head>

<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1>Find your life-long partner</h1>
                    <p>HeartConnections is a dating site with a live matchmaker, free of charge</p>
                    <a href="{% url 'create_profile' %}" class="main-button-slider">Submit a Profile</a><br><br><br>
                    <a href="{% url 'login' %}" class="main-button-slider">Admin Login</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->



{% endblock %}