{% extends "admin_base_generic.html" %}

{% block content %}
<head>
    {% load static %}
    <style>
    </style>
</head>

<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1>Hi, Reshma!</h1>
                    <p>Click the button below to begin matchmaking</p>
                    <a href="{% url 'unmatched_profiles' %}" class="main-button-slider">View Profiles</a><br><br><br>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->



{% endblock %}