{% extends "base_generic.html" %}

{% block content %}
<head>
    {% load static %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile-default-view.css' %}">
</head>

<div class="container-fluid">
  <div class="row">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="https://image.winudf.com/v2/image1/aHUuYmthbG1hbi5hbmRyb2lkLmFwcC53aGl0ZXNjcmVlbl9zY3JlZW5fMV8xNTY3MDI0NzUwXzAwMw/screen-1.jpg?fakeurl=1&type=.jpg" alt="Profile image example" height="300"/>
        <img align="left" class="fb-image-profile thumbnail" src="https://at-cdn-s02.audiotool.com/2018/04/01/documents/m949oob9/0/cover256x256-61d3f42cf44f43c999d3b24fbc8f0110.jpg" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>{{ first_name }} {{ last_name }}, {{ gender }}, {{ age }}</h1>
              
        </div>
    </div>
  </div>
</div> <!-- /container fluid-->  
  <div class="container">
    <div class="col-sm-8">
  
        <div data-spy="scroll" class="tabbable-panel">
          <div class="tabbable-line">
            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#tab_default_1">
                About {{ first_name }} </a>
              </li>
              <li>
                <a data-toggle="tab" href="#tab_default_2">
               Education & Career</a>
              </li>
              <li>
                <a data-toggle="tab" href="#tab_default_3">
               Family Details</a>
              </li>
               <li>
                <a data-toggle="tab" href="#tab_default_4">
               Lifestyle</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_default_1">
   
                <p>
                  {{ bio }}
                </p>
              </div>
              <div class="tab-pane" id="tab_default_2">
                <p>
                  Education & Career
                </p>
                <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                       <label for="email">Highest Education:</label>
                        <p> MBA/PGDM</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
  
                 </div>
                </div>
  
               
             
              </div>
              <div class="tab-pane" id="tab_default_3">
                <p>
                  Family Details
                </p>
                <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                       <label for="email">Highest Education:</label>
                        <p> MBA/PGDM</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
  
                 </div>
                </div>
              </div>
               <div class="tab-pane" id="tab_default_4">
                <p>
                 Lifestyle
  
                </p>
                 <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                       <label for="email">Highest Education:</label>
                        <p> MBA/PGDM</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
                    <div class="form-group">
                       <label for="email">Place of Birth:</label>
                        <p> pune, maharashtra</p>
                   </div>
  
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
    </div>
    <div class="col-sm-4">
     <div class="panel panel-default">
      <div class="menu_title">
         Information
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="col-lg-12">
                   <div class="form-group">
                       <label for="email">Country:</label>
                        <p> {{ country }}</p>
                   </div>
                    <div class="form-group">
                        <label for="email">State or Region:</label>
                        <p> {{ state_region }}</p>
                    </div>
                    <div class="form-group">
                        <label for="email">City:</label>
                        <p> {{ city }}</p>
                    </div>
                      <div class="form-group">
                        <label for="email">Occupation:</label>
                        <p> {{ occupation }}</p>
                      </div>
                      <div class="form-group">
                        <label for="email">Education:</label>
                        <p> {{ education }}</p>
                      </div>
                       <div class="form-group">
                        <label for="email">Religion:</label>
                        <p> {{ religion }}</p>
                      </div>
              </div>
          </div>
      </div>
  </div>
    </div>
  </div>
{% endblock %}