{% extends "admin_base_generic.html" %}

{% block content %}
<head>
  {% load static %}
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/profile-detailed-view.css' %}"> -->
  <style>
    .baseframe{
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; 
        height: 20vh;
    }
</style>
</head>
<div class="baseframe"></div>

<div class="container">
  <div class="row gutters">
  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
  <div class="card h-100">
    <div class="card-body">
      <div class="account-settings">
        <div class="user-profile">
          <div class="user-avatar">
            <div class="icon">
              <i><span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'images/anonymous-neutral.jpg' %}" alt="" /></span></i>
            </div>
          </div>
          <div class="about">
            <h5 class="user-name">{{ profile.first_name }} {{ profile.last_name }}</h5>
          </div>
          <h6 class="user-email">{{ profile.email }}</h6><br>
        </div>
        <div class="about">
          <h5>Bio</h5>
          <p>{{ profile.bio }}</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
  <div class="card h-100">
    <div class="card-body">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h6 class="mb-2 text-primary">Personal Details</h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="fullName"><strong>Full Name</strong></label>
            <p>{{ profile.first_name }} {{ profile.last_name }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="phone"><strong>Age</strong></label>
            <p>{{ profile.age }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>Gender</strong></label>
            <p>{{ profile.gender }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>Sexuality</strong></label>
            <p>{{ profile.sexuality }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>Country</strong></label>
            <p>{{ profile.country }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>State Region</strong></label>
            <p>{{ profile.state_region }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>City</strong></label>
            <p>{{ profile.city }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>Occupation</strong></label>
            <p>{{ profile.occupation }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>Company</strong></label>
            <p>{{ profile.company }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>Education</strong></label>
            <p>{{ profile.education }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>Religion</strong></label>
            <p>{{ profile.religion }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>Hobbies</strong></label>
            <p>{{ profile.hobbies }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>Dietary Preferences</strong></label>
            <p>{{ profile.dietary_preferences }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>Alcohol</strong></label>
            <p>{{ profile.alcohol }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>Smoking</strong></label>
            <p>{{ profile.smoking }}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>Email</strong></label>
            <p>{{ profile.email }}</p>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h6 class="mb-2 text-primary"><strong>Matched</strong></h6>
          <input type="checkbox" id="matched" name="matched" value="matched">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="website"><strong>Matched With</strong></label>
            <p>{{ profile.matched_with }}</p>
          </div>
        </div>
      </div>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h6 class="mt-3 mb-2 text-primary"></h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          
        <form method="post">
        {% csrf_token %}
          <div class="form-group">
            <label for="matched_with">Matching</label>
            {% if unmatched_list %}
            <select id="matched_with" class="form-control" id="matched_with" name="matched_with">
                <option value=""></option>
              {% for profile in unmatched_list %}
                <option value="{{ profile.id }}">{{ profile.first_name }} {{ profile.last_name }}, Notes: {{ profile.notes }}</option>
              {% endfor %}
            </select>
            {% else %}
              <p>There are no available profiles</p>
            {% endif %}
            <br><label for="notes">Notes</label>
            <textarea id="notes" class="form-control" name="notes" id="notes" rows="4" cols="50" placeholder="Matchmaking Notes">{{ profile.notes }}</textarea>
          </div>
        </div>
      </div>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="text-right">
            <button type="button" id="submit" name="submit" class="btn btn-secondary" onclick="location.href='{% url 'unmatched_profiles' %}'">Cancel</button>
            <button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</form>
  <div class="baseframe"></div>
{% endblock %}